body {
    background-color: #314e7a;
}
.topdiv {
    height: 10vh;
}
#clickme {
    position: absolute;
    top:20vh;
    margin: auto;
    border: 3px solid green;
}
#randomimage {
    position: absolute;
    top:20vh;
    right: 0vw;
    margin: auto;
    border: 3px solid green;
}
#titlediv {
    margin: auto;
    position: absolute;
    width: -webkit-fill-available;
    left:0vw;
    text-align: center;
    display: inline;
}
#title {
    font-size: 3vh;
    display: inline;
}

.maindiv {
    position: absolute;
    left:0vw;
    margin: 0 auto;
    height: auto;
    width: 100vw; 
    border: 3px solid green;
}
#img {
    width:20vw;
}
#himg {
    max-height: 100%;
    max-width: 60vw;
    opacity: 1;
    transition: opacity 0.5s ease-out;
    max-height: 60vh;
}
#himg.timeout {
    opacity: 0;
}

